body{
    background: lightgreen;

}

form{
    max-width: 300px;
    margin: 40px auto;
    background: white;
    padding: 50px;
}

input{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

h5{
    color: white;
}


input{
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
    background-color: #f9f9f9; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

input:hover {
    border-color: #888; 
}

input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

i{
    color: blue;
}

.success{
    border: 2px solid limegreen;
}
.error{
    border: 2px solid crimson;
}